@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --daisy-rounded: 0.3rem;
  --rounded-btn: var(--daisy-rounded);
  --rounded-box: var(--daisy-rounded);
  --rounded-badge: var(--daisy-rounded);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  /* color: rgb(var(--foreground-rgb)); */
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

h1 {
  font-size: 2rem;
  margin-top: 1rem;
  padding-bottom: 0.6rem;
}

h2 {
  font-size: 1.5rem;
  margin-top: 1rem;
  padding-bottom: 0.6rem;
}

.hero-video > video {
  object-fit: cover;
  object-position: center;
  overflow: clip;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


.s {
  grid-column-end: span 1;
  grid-row-end: span 1;
}

.m {
  grid-column-end: span 1;
  grid-row-end: span 2;
}

.l {
  grid-column-end: span 2;
  grid-row-end: span 2;
}

.tiptap:focus {
  outline: none;
}